body{
    font-family: Arial, sans-serif;
    background-color: rgb(241, 245, 249);
}
.header{
    text-align: center;
    background-color: rgb(14, 165, 233);
    color: rgb(255, 255, 255);
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
}
.option:hover{
    text-align: center;
}
.intro{
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
}
.proof{
    background-color:rgb(236, 254, 255);
    width: 100%;
    height: 180px;
    position: absolute;
    border: 0px solid;
}
.content{
    width: 1%;
    height: 180px;
    background-color: rgb(14, 165, 233);
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0px solid;
}
.footer{
    width: 100%;
    background-color: rgb(15, 23, 42);
    color: rgb(255, 255, 255);
}